/* TODO: Safari hase troubles with showing transparency, need to fix this */

.notice {
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  background-color: rgba(248, 248, 248, 0.2);
  padding: 25px;
  backdrop-filter: blur(4px);
  border: 1px solid #ccc;
}
