<script>
  var mapOptions = {
    controls: ['zoomControl'],
    center: [56.84, 60.6],
    zoom: 11
  };

  var indicatorsOnMap = {
    registeredHouses: true,
    userLabels: true
  }

  const currentUserToken = "<%= form_authenticity_token %>";
</script>
<style>
  #map {
    height: 50vh;
  }
</style>

<%= turbo_frame_tag "modal" do %>
  <%# <%= render partial: "houses/info", locals: { house: House.first } %> %>
<% end %>

<div id="map"></div>
