/*
 *= require_tree ./blocks
 *= require_tree ./atoms
 */

.black {
  color: #000000;
}

h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 57px;
}

body {
  background-color: #E7EAEF; /* Здесь задается цвет фона в шестнадцатеричном формате */
  margin: 0;
}

a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  /* identical to box height */

  color: #37745B;
}

p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.center {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  height: 100vh;
}
